@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: #ececf5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
